[borg]
	pushDefault = gav451
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "alert"]
	path = lib/alert
	url = git@github.com:jwiegley/alert.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	info-path = doc
	build-step = make extraclean
	build-step = ./autogen.sh
	build-step = ./configure --without-texmf-dir --with-lispdir=.
	build-step = make
	build-step = borg-update-autoloads
	build-step = borg-makeinfo
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "biblio"]
	path = lib/biblio
	url = git@github.com:cpitclaudel/biblio.el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "cython-mode"]
	path = lib/cython-mode
	url = git@github.com:emacsmirror/cython-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "deadgrep"]
	path = lib/deadgrep
	url = git@github.com:Wilfred/deadgrep.git
[submodule "delight"]
	path = lib/delight
	url = https://git.savannah.nongnu.org/git/delight.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = git@github.com:Fuco1/dired-hacks.git
[submodule "easy-kill"]
	path = lib/easy-kill
	url = git@github.com:leoliu/easy-kill.git
[submodule "eimp"]
	path = lib/eimp
	url = git@github.com:nicferrier/eimp.git
[submodule "electric-operator"]
	path = lib/electric-operator
	url = git@github.com:davidshepherd7/electric-operator.git
	no-byte-compile = electric-operator-benchmark.el
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = git@github.com:xuchunyang/elisp-demos.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/elisp-refs.git
[submodule "elpy"]
	path = lib/elpy
	url = git@github.com:jorgenschaefer/elpy.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "emms"]
	path = lib/emms
	url = https://git.savannah.gnu.org/git/emms.git
	info-path = doc
	build-step = make autoloads emms-print-metadata lisp
	build-step = borg-makeinfo
[submodule "engine-mode"]
	path = lib/engine-mode
	url = git@github.com:hrs/engine-mode.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "esxml"]
	path = lib/esxml
	url = git@github.com:tali713/esxml.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "exwm"]
	path = lib/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "find-file-in-project"]
	path = lib/find-file-in-project
	url = git@github.com:technomancy/find-file-in-project.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-cython"]
	path = lib/flycheck-cython
	url = git@github.com:lbolla/emacs-flycheck-cython.git
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
	info-path = docs
[submodule "free-keys"]
	path = lib/free-keys
	url = git@github.com:Fuco1/free-keys.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "gif-screencast"]
	path = lib/gif-screencast
	url = git@gitlab.com:Ambrevar/emacs-gif-screencast.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "gpastel"]
	path = lib/gpastel
	url = git@github.com:DamienCassou/gpastel.git
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
	info-path = doc
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "helm-bibtex"]
	path = lib/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
[submodule "helm-ls-git"]
	path = lib/helm-ls-git
	url = git@github.com:emacs-helm/helm-ls-git.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "hercules"]
	path = lib/hercules
	url = git@gitlab.com:jjzmajic/hercules.el.git
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
	info-path = doc
[submodule "ivy-posframe"]
	path = lib/ivy-posframe
	url = git@github.com:tumashu/ivy-posframe.git
[submodule "julia-mode"]
	path = lib/julia-mode
	url = git@github.com:JuliaEditorSupport/julia-emacs.git
[submodule "jupyter"]
	path = lib/jupyter
	url = git@github.com:dzop/emacs-jupyter.git
[submodule "keycast"]
	path = lib/keycast
	url = git@github.com:tarsius/keycast.git
[submodule "kv"]
	path = lib/kv
	url = git@github.com:nicferrier/emacs-kv.git
[submodule "libgit"]
	path = lib/libgit
	url = git@github.com:magit/libegit2.git
	build-step = make
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:abo-abo/lispy.git
[submodule "loop"]
	path = lib/loop
	url = git@github.com:Wilfred/loop.el.git
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "monky"]
	path = lib/monky
	url = git@github.com:ananthakumaran/monky.git
[submodule "mu2tex"]
	path = lib/mu2tex
	url = git@github.com:cdominik/mu2tex.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "nov"]
	path = lib/nov
	url = git@github.com:wasamasa/nov.el.git
[submodule "ob-async"]
	path = lib/ob-async
	url = git@github.com:astahlman/ob-async.git
[submodule "org"]
	path = lib/org
	load-path = lisp
	load-path = contrib/lisp
	info-path = doc
	url = git@code.orgmode.org:bzg/org-mode.git
	build-step = make compile autoloads info
[submodule "org-noter"]
	path = lib/org-noter
	url = git@github.com:weirdNox/org-noter.git
[submodule "org-pdftools"]
	path = lib/org-pdftools
	url = git@github.com:fuxialexander/org-pdftools.git
[submodule "org-ref"]
	path = lib/org-ref
	url = git@github.com:jkitchin/org-ref.git
[submodule "org-tanglesync"]
	path = lib/org-tanglesync
	url = git@github.com:mtekman/org-tanglesync.el.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = git@github.com:politza/pdf-tools.git
	build-step = make server-distclean
	build-step = make autobuild
	build-step = make -s
	build-step = borg-byte-compile
	build-step = borg-update-autoloads
[submodule "peep-dired"]
	path = lib/peep-dired
	url = git@github.com:asok/peep-dired.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "prescient"]
	path = lib/prescient
	url = git@github.com:raxod502/prescient.el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "psession"]
	path = lib/psession
	url = git@github.com:thierryvolpiatto/psession.git
[submodule "pyenv-mode"]
	path = lib/pyenv-mode
	url = git@github.com:proofit404/pyenv-mode.git
[submodule "pythonic"]
	path = lib/pythonic
	url = git@github.com:proofit404/pythonic.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "selectrum"]
	path = lib/selectrum
	url = git@github.com:raxod502/selectrum.git
[submodule "shut-up"]
	path = lib/shut-up
	url = git@github.com:cask/shut-up.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "sly"]
	path = lib/sly
	info-path = doc
	load-path = .
	load-path = contrib
	build-step = git restore sly-autoloads.el || git checkout -- sly-autoloads.el
	build-step = make all
	build-step = borg-makeinfo
	url = git@github.com:joaotavora/sly.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "synosaurus"]
	path = lib/synosaurus
	url = git@github.com:hpdeifel/synosaurus.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undercover"]
	path = lib/undercover
	url = git@github.com:sviridov/undercover.el.git
[submodule "unfill"]
	path = lib/unfill
	url = git@github.com:purcell/unfill.git
	no-byte-compile = test.el
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "websocket"]
	path = lib/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "wordnut"]
	path = lib/wordnut
	url = git@github.com:gromnitsky/wordnut.git
[submodule "writegood-mode"]
	path = lib/writegood-mode
	url = git@github.com:bnbeckwith/writegood-mode.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "xelb"]
	path = lib/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "xr"]
	path = lib/xr
	url = git@github.com:mattiase/xr.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "zmq"]
	path = lib/zmq
	url = git@github.com:dzop/emacs-zmq.git
	build-step = make
[submodule "zop-to-char"]
	path = lib/zop-to-char
	url = git@github.com:thierryvolpiatto/zop-to-char.git
